<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MeerQATS">

	<listeners>
		<listener class-name="com.moodys.meerqats.pageclass.ExtentReporter" />
	</listeners>


	<test name="BasicFunctionality">
		<classes>
			<class name="com.moodys.meerqats.QATSManager.LoginAsManager" />
			<class name="com.moodys.meerqats.QATSReviewer.LoginAsReviewer" />
			<class name="com.moodys.meerqats.QATSAdmin.LoginAsAdmin" /> 
			<class
				name="com.moodys.meerqats.QATSManager.CreateManualCase_LeadAnalyst_AutoSuggestions" />
			<class
				name="com.moodys.meerqats.QATSManager.CreateManualCase_RCChair_AutoSuggestions" />
			<class
				name="com.moodys.meerqats.QATSManager.CreateManualCase_PACR_AutoSuggestions" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->